	    	<div class="carousel slide" id="myCarousel" data-ride='carousel' data-interval="3000">
			
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
					<li data-slide-to="1" data-target="#myCarousel"></li>
					<li data-slide-to="2" data-target="#myCarousel"></li>
				</ol>
			
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active" id="slide1">
						<div class="carousel-caption">
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
					
					<div class="item" id="slide2">
						<div class="carousel-caption">
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
					
					<div class="item" id="slide3">
						<div class="carousel-caption">
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
				</div><!-- carousel-inner -->
				
				<!-- Controls -->
				<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="glyphicon glyphicon-chevron-right"></span></a>
			
			</div><!-- end myCarousel -->


<!------------- Small screens ------------------------>

<div class="container">
  <div class="row">
    <div class="visible-xs visible-sm col-xs-3 col-sm-3">
      <img class='img-responsive img-circle'  <%=image_tag('me and troy.jpg')%>     
    </div>
    <div class="visible-xs visible-sm col-xs-7-offset-2 col-sm-7-offset-2 well">
      <h2> Hi, my name is Julie </h2>
      <p> fill in text here </p>
    </div>
  </div>
</div>


<div class="row">
  <div class='visible-sm visible-xs col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6'>
    <h3>New Posts</h3>
  </div>
</div>
<% @posts.each do |post| %>
<div class="container-fluid">
    <div class="row">
      
      <!-- Small screens --->
      <div class="visible-sm col-sm-6 visible-xs col-xs-6">
        <%= image_tag post.image.url(:thumb) %>
      </div> <!---col xs-6 col-xs-6 --->
      <div class="visible-sm col-sm-6 visible-xs col-xs-6">
          <h3><%= post.title %></h3>
          <%= link_to "Read", post, class: "btn btn-primary btn-sm"%>

      </div> <!---col xs-6 col-xs-6 --->

  </div>            

</div>
<% end %>


<div class="container-fluid">
    <div class="row">
      <div class="visible-sm visible-xs col-sm-5 col-sm-offset-2 col-xs-3 col-xs-offset-2 well">
        Graphic
      </div>

      <div class="visible-sm visible-xs col-sm-7 col-xs-7">
        Text for mini-course
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="visible-sm visible-xs col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 well">
        Graphic
      </div>
    </div>
    <div class="row">
      <div class="visible-sm visible-xs col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        Contact Us Form
      </div>
    </div>
</div>


<!------------- Large screens ------------------------->


<div class="container">
  <div class="row">
    <div class="visible-md visible-lg col-md-3 col-lg-3">
      <img class='img-responsive img-circle'  <%=image_tag('me and troy.jpg')%>     
    </div>
    <div class="visible-md visible-lg col-md-7-offset-2 col-lg-7-offset-2">
      <%= image_tag("Julie.png", :alt => "Julie") %>
      <p> fill in text here </p>
    </div>
  </div>
</div>


<div class="row">
  <div class='visible-md visible-lg col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6'>
    <h3>New Posts</h3>
  </div>
</div>


<div class="container-fluid">
  <% @posts.each_slice(3).each do |posts| %>
  <div class="row">
      <% posts.each do |post| %>
      <div class="visible-md visible-lg col-md-4 col-lg-4">
        <div class="post">
          <div class="img_wrapper">
            <%= link_to post do %>
              <%= image_tag post.image.url(:medium) %> 
            <% end %>
          </div> <!--- image wrapper ---->
            <h2> <%= link_to post.title, post %> </h2>

        </div> <!---- post ----->
      </div> <!---- col-md-4 ---->
            <% end %>

  </div> <!----- row ---->
<% end %>
</div> <!----- container-fluid ----->

<div class="container-fluid">
    <div class="row">
      <div class="visible-md visible-lg col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 well">
        Graphic
      </div>

      <div class="visible-md visible-lg col-md-5 col-lg-5">
        Text for mini-course
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="visible-md visible-lg col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 well">
        Graphic
      </div>
    </div>
    <div class="row">
      <div class="visible-md visible-lg col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        Contact Us Form
      </div>
    </div>
</div>


<script>
    $('.carousel').carousel({
        interval: 3000
    })
</script>


