

<div class="visible-md visible-lg container-fluid">
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <%= image_tag("name_banner.png", :alt => "Hi I'm Julie", :class => "name_banner") %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("me and troy.jpg", :alt => "Me", :class => "img-circle img-responsive my_picture") %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 offset-4 col-lg-8 offset-4 header">
        <h1 class="main_header">I'm a 20-something on a quest to live: <h1/>
        <h3 class="main_subheader">happy, healthy, and wealthy </h3>
        <p class="front-text"> 
        The wealth part has always been easy for me.  I have a net worth over $300,000 with NO inheritance and I haven't won the lottery.
        People say money brings happiness, but I've battled anxiety, depression, and eating disorders.
        Yep, it's the happy and healthy part of the equation that I struggle with.
        So I'm here to help you (hopefully) become financially independent while sharing my journey to find health and happiness at the same time.
        If you want to hear more about me, you can read about my story <a href="/story">here.</a>
        I'd love to hear from you, so please always feel free to drop me an <a href="mailto: jkent2910@gmail.com">e-mail</a>, <a href="/posts">comment on a blog</a>,
          or catch up with me on <a href="twitter.com/jkent2910">Twitter!</a><p/> <br />
         <h5 class="small_heading">Sign-Up to get my best content delivered directly to your inbox!</h5> 
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
  background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:350px; text-align: center;   margin-left: auto ;
  margin-right: auto; 
  }
  
#mc_embed_signup input.email {
  margin-left: 80px;
}
  
  #mc_embed_signup input.button {
    margin-left: 115px;
  }
  
@media only screen and (max-width: 750px) {
  
  #mc_embed_signup input.email{
    
    margin-left: 10px;
    
  }
  
    #mc_embed_signup input.button {
    margin-left: 50px;
  }
  
  
  
  
}
  
  
  
  
  
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//happyhealthywealthy.us10.list-manage.com/subscribe/post?u=f99a8de8f49f7e3b52c765fec&amp;id=8b070251e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f99a8de8f49f7e3b52c765fec_8b070251e4" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
</form>
</div>
<!--End mc_embed_signup-->
          <h3 class="thanks"> Thanks for visiting! </h3> <br /> <br />
          <p class="strong-cursive"> Julie </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h3 class="main_posts">Recent Posts</h3>
    </div>
  </div>
  <% @posts.each_slice(3).each do |posts| %>
  <div class="row">
      <% posts.each do |post| %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="post">
          <div class="img_wrapper">
            <%= link_to post do %>
            <%= image_tag post.image.url(:medium), :class => "blog_img" %> 
            <% end %>
          </div> <!--- image wrapper ---->
            <h2 class="post_title"> <%= link_to post.title, post %> </h2>

        </div> <!---- post ----->
      </div> <!---- col-md-4 ---->
            <% end %>

  </div> <!----- row ---->
<% end %>
</div> <!----- container-fluid ----->

<div class="container-fluid mini_course">
    <div class="row">
      <div class="visible-md visible-lg col-md-6 col-lg-6">
        <div class="graphic-wrap">
          <%= link_to image_tag("5_week.png", :alt => "Mini-Course", :class => "img-responsive"), "/course" %>
        </div>
      </div>
      <div class="visible-sm visible-xs col-sm-12 col-xs-12">
          <%= link_to image_tag("mini-course-small.png", :alt => "Mini-Course", :class => "img-responsive"), "/course" %>
      </div>

      <div class="col-md-6 col-lg-6">
        <h3 class="main_posts">Start today!</h4>
        <p class="front-text">You've made it to my site.  Take the next step.  Enroll in my FREE, 5-week mini-course that will get you on the path towards financial independence!  What do you have to lose?</p>
      </div>
    </div>
</div>

<div class="container-fluid bottom_front">
    <div class="row">
      <div class="visible-md visible-lg col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="graphic-wrap">
        <%=link_to image_tag("contact.png", :alt => "Contact", :class => "img-responsive"), "mailto: jkent2910@gmail.com" %>
        </div>
      </div>
      <div class="visible-sm visible-xs col-sm-12 col-xs-12">
        <div class="graphic-wrap">
        <%=link_to image_tag("touch-small.png", :alt => "Contact", :class => "img-responsive"), "mailto: jkent2910@gmail.com" %>
        </div>
      </div>
      
      
    </div>
</div>
  
  
