<div class="container-fluid">
  Navigation & Links
</div>

<div class="container">
  
  
  
  <!--- Small screens ---->
  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12">
      <h3 class="text-center"><%= @post.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12 text-center">
      <%= image_tag @post.image.url(:thumb) %>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12">
      <p class="lead text-center">Published <%= @post.created_at.strftime('%b %d, %Y') %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12">
      <p class="lead text-center">Filed under: <% @post.categories.each do |category| %>
  										<%= link_to category.name, category %>&nbsp;
  									<% end %>
      </p>    
  </div>

  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12">
      <p class="post_content">
        <%= @post.content %>
      </p>
    </div>
  </div>
    
  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12">
      <h4>Comments</h4>
      <% @comments.each do |comment| %>
      <p><%= comment.name %></p>
      <p><%= comment.body %></p>
            </div>
          <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-xs visible-sm  col-xs-12 col-sm-12">
        <%= link_to "Write a comment", new_post_comment_path(@post) %>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-xs visible-sm col-xs-12 col-sm-12">
        <% @ratings.each do |rating| %>
        <div class="star-rating" data-score= <%= rating.rating_number %></div>
        <p><%= rating.rating_number %></p>
        <%= @post.ratings.count %> Ratings
      <% end %>
      <%= link_to "Rate this post", new_post_rating_path(@post) %>
    </div>
  </div>
  
</div>
  
  
  
<!---- Large screens ----------->
  
<div class="container">
  
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <h1 class="text-center"><%= @post.title %></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12 text-center">
      <%= image_tag @post.image.url(:medium) %>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <p class="lead text-center">Published <%= @post.created_at.strftime('%b %d, %Y') %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <p class="lead text-center">Filed under: <% @post.categories.each do |category| %>
  										<%= link_to category.name, category %>&nbsp;
  									<% end %>
      </p>    
  </div>
    
    
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <p class="post_content">
        <%= @post.content %>
      </p>
    </div>
  </div>
    
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <h4>Comments</h4>
      <% @comments.each do |comment| %>
      <p><%= comment.name %></p>
      <p><%= comment.body %></p>
            </div>
          <% end %>
    </div>
  </div>
    
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
        <%= link_to "Write a comment", new_post_comment_path(@post) %>
    </div>
  </div>
  
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
         <%= @post.ratings.count %> Ratings
        <% @ratings.each do |rating| %>
        <div class="star-rating" data-score= <%= rating.rating_number %></div>
        <p><%= rating.rating_number %></p>

      <% end %>

    </div>
          <%= link_to "Rate this post", new_post_rating_path(@post) %>
  </div>
  
 
</div>
   
  <div class="container">
  <div class="row">
    
    <% if current_admin != Post.find(params[:id]).admin %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
      <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
    <% end %>

    </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'rating[rating_number]'
  });
</script>