 <%= tinymce %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="small_screen">
      <h3 class="main_posts">
        <%= @post.title %>
      </h3>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3 class="idea">
        <%= @post.created_at.strftime('%b %d, %Y') %>
      </h3>
    </div>
    </div>
  </div>
  
  <div class='row'>
    <div class="col-md-4-offset-6 col-lg-4-offset-6 text-center">
      <%= image_tag @post.image.url(:medium) %>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4-offset-6 col-lg-4-offset-6 text-center">
    <h4 class="comment_header">
      Tag: <%= @post.categories.map { |category| link_to category.name, category_path(category.id)}.join(', ').html_safe %> 
    </h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4-offset-6 col-lg-4-offset-6 text-center">
    <h4 class="comment_header">
        Spread the word! <%= social_share_button_tag(@post.title) %>
    </h4>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <p class="post_content">
          <%= @post.content.html_safe %>
        </p>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="blog-sidebar">
          <%= link_to image_tag("sidebar_mini.png", :alt => "sidebar_minicourse", :class => "mini_course_sidebar"), "/course" %>
          <%= link_to image_tag("signup.png", :alt => "signup", :class => "mini_course_sidebar"), "mailto:jkent2910@gmail.com" %>
        </div>
      </div>
     </div>
  <div class="row">

    <div class="col-md-4-offset-6 col-lg-4-offset-6 text-center">
    <h4 class="comment_header">
        Spread the word! <%= social_share_button_tag(@post.title) %>
    </h4>
      
          <h5 class="small_heading">Get my FREE list of the 20 best financial resources that can help you build your wealth!</h5> 
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
  background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:350px; text-align: center;   margin-left: auto ;
  margin-right: auto; 
  }
  
#mc_embed_signup input.email {
  margin-left: 80px;
}
  
  #mc_embed_signup input.button {
    margin-left: 115px;
  }
  
@media only screen and (max-width: 750px) {
  
  #mc_embed_signup input.email{
    
    margin-left: 10px;
    
  }
  
    #mc_embed_signup input.button {
    margin-left: 50px;
  }
  
  
  
  
}
  
  
  
  
  
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//happyhealthywealthy.us10.list-manage.com/subscribe/post?u=f99a8de8f49f7e3b52c765fec&amp;id=8b070251e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f99a8de8f49f7e3b52c765fec_8b070251e4" tabindex="-1" value=""></div>
    <input type="submit" value="Yes, send it!" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
</form>
</div>
<!--End mc_embed_signup-->
<!--- not working      <h5 class="small_heading">You may also enjoy reading</h5>


          <h4 class="comment_header">

<% @post.categories.each do |category| %>
  <%= render partial: "/categories/categories", locals: { category: category } %>
<% end %>
            

          </h4>
      
    </div>

  </div>

        
        --->

</div>
<!---- not working yet 
<div class="container-fluid">
    <div class="row">
    <h4 class="comment_header"><%= link_to "Add a rating", new_post_rating_path(@post) %></h4><br />
</div>  ------>

 <!--- not working yet         <% if @ratings.blank? %>
          <h3>No ratings just yet, would you like to add the first!</h3>
              <%= link_to "Rate this article", new_post_rating_path(@post), class: "btn btn-danger" %>
        <% else %>
          <% @ratings.each do |rating| %>
            <div class="ratings">
              <div class="star-rating" data-score= <%= rating.rating_number %> ></div>
            </div>
          <% end %>
        <% end %>  ------>


<div class="container-fluid comments">
    <div class="row">
      <div class="col-md-4 col-lg-4">
         <h4 class="comment_header">Comments</h4>
        <p class="p_normal"> <%= @post.comments.count %> Comments</p>
            <div class="comment-wrapper">
              <% @comments.each do |comment| %>
                <p class="p_heading">Name:<p/>  <p class="p_normal"><%= comment.name %></p>
                <p class="p_heading">Comment:</p> 
                <p class="p_normal"><%= comment.body %></p>
              <% end %>
            </div>
    </div>
      
</div>

  <div class="container-fluid">
  <div class="row">
    <h4 class="comment_header"><%= link_to "Add a comment", new_post_comment_path(@post) %></h4><br />
    <% if current_admin != Post.friendly.find(params[:id]).admin %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
      <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
    <% end %>

    </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>


