 <%= tinymce %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3 class="recent">
        <%= @post.title %>
      </h3>
    </div>
    <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3 class="blog-time">
        <%= @post.created_at.strftime('%b %d, %Y') %>
      </h3>
    </div>
    </div>
  </div>
  
  <div class='row'>
    <div class="col-md-4-offset-6 col-lg-4-offset-6 text-center">
      <%= image_tag @post.image.url(:medium) %>
    </div>
  </div> 
</div>

<div class="container-fluid">
  <div clas="post-wrapper">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <p class="post_content">
          <%= @post.content.html_safe %>
        </p>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="blog-sidebar">
          <p class="well">Sidebar Graphic<p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-4">
         <h4>Comments</h4>
          <%= @post.comments.count %> Comments
            <div class="comment-wrapper">
              <% @comments.each do |comment| %>
                <p class="cursive">Name:<p/> 
                <p class="front-text"><%= comment.name %></p>
                <p class="cursive">Comment:</p> 
                <p class="front-text"><%= comment.body %></p>

              <% end %>
            </div>
    </div>
</div>

  <div class="container-fluid">
  <div class="row">
     <%= link_to "Add a comment", new_post_comment_path(@post) %> <br />
    <% if current_admin != Post.find(params[:id]).admin %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
      <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
    <% end %>

    </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'rating[rating_number]'
  });
</script>