<div>
	<h1><%= @post.title %></h1>
	<p>Published <%= @post.created_at.strftime('%b %d, %Y') %></p>
	<p>Filed under: <% @post.categories.each do |category| %>
  										<%= link_to category.name, category %>&nbsp;
  									<% end %>
  </p>
	<div><%= @post.content %></div>
</div>

		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>

<h2><%= @post.ratings.count %> Ratings</h2>
    <%= render @post.ratings %>

		<h3>Add a comment:</h3>
		<%= render "comments/form" %>

<h3> Add a rating: </h3>
    <%= render 'ratings/form'  %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'rating[rating_number]'
  });
</script>