 <%= tinymce %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3 class="main_posts">
        <%= @post.title %>
      </h3>
    </div>
    <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3 class="idea">
        <%= @post.created_at.strftime('%b %d, %Y') %>
      </h3>
    </div>
    </div>
  </div>
  
  <div class='row'>
    <div class="col-md-4-offset-6 col-lg-4-offset-6 text-center">
      <%= image_tag @post.image.url(:medium) %>
    </div>
  </div> 
</div>

<div class="container-fluid">
  <div clas="post-wrapper">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <p class="post_content">
          <%= @post.content.html_safe %>
        </p>
        <h4 class="comment_header"> Thanks for reading!</h4>
        <p class="signature"> Julie </p>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="blog-sidebar">
          <%= link_to image_tag("sidebar_mini.png", :alt => "sidebar_minicourse", :class => "mini_course_sidebar"), "/course" %>
          <%= link_to image_tag("signup.png", :alt => "signup", :class => "mini_course_sidebar"), "mailto:jkent2910@gmail.com" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid comments">
    <div class="row">
      <div class="col-md-4 col-lg-4">
         <h4 class="comment_header">Comments</h4>
        <p class="p_normal"> <%= @post.comments.count %> Comments</p>
            <div class="comment-wrapper">
              <% @comments.each do |comment| %>
                <p class="p_heading">Name:<p/>  <p class="p_normal"><%= comment.name %></p>
                <p class="p_heading">Comment:</p> 
                <p class="p_normal"><%= comment.body %></p>
              <% end %>
            </div>
    </div>
</div>

  <div class="container-fluid">
  <div class="row">
    <h4 class="comment_header"><%= link_to "Add a comment", new_post_comment_path(@post) %></h4><br />
    <% if current_admin != Post.find(params[:id]).admin %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
      <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
    <% end %>

    </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'rating[rating_number]'
  });
</script>